COMPOSE_PROJECT_NAME=lakehouse

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=metabase
NESSIE_DB_USER=nessie
NESSIE_DB_PASSWORD=nessie

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_FERNET_KEY=2MYa4t2qTlYnLWvH9voP3_h4U1FCRsPcpK_EacA9cHY=
AIRFLOW_API_AUTH_JWT_SECRET=RlUjGWNGavpTq_9nDgqs-hIynVtYAJ76rOYV8OfbJXmL8BachrFfkvRSb9IAN2c_

METABASE_IMAGE=metabase/metabase:v0.63.17
METABASE_SITE_NAME=Lakehouse
METABASE_JAVA_TOOL_OPTIONS=-Xmx512m
METABASE_SESSION_SECRET_KEY=aaCFMXvEviLNMU3OuKauO7j+7wlUkUFts1hWqxl1bdvL/+ZdU89sRLg11I++cNt8

SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G


